#contents table tr:nth-child(odd)
{
    background-color: coral;
}

#contents table tr:nth-child(even)
{
    background-color: aqua;
}

#contents{
    justify-self: center;
}

#contents table{
    text-align: center;
}

#contents table tr td:first-child
{
    font-size: 20pt;
    color: blue;
}

#contents table tr td:nth-child(2)
{
    font-size: 16pt;
    color: darkviolet;
}

#contents table tr td:nth-child(3)
{
    font-size: 18pt;
    color: darkred;
}

@media (max-width: 700px) {
    .colN{
        display: none;
    }
}          

