body{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 80% 20%;
}

#title{
    grid-area: 1 / 1 / 1 / 2;
}

#contents{
    grid-area: 2 / 1 / 2 / 1;
}

#controls{
    grid-area: 2 / 2 / 2 / 2;
}